
body {
    margin: 0px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    max-width: 100vw;
    
    background-color: #f9f9f9;
    
}

.main__content{
}

/*  PAGE 1 */
#page__1 {
}
.text__container {
    position: relative;
    margin-top: 27.22%;
    margin-left: 10.6%;
}

.text__1 {
    font-weight: 450;
    font-size: 30px;
}

.text__2 {
    font-weight: 450;
    font-size: 16px;
    line-height: 24px;
    margin-top: 14px;
}

#page__1__button {
    background-color: #EF716B;
    width: 145px;
    height: 40px;
    border-radius: 35px;
    border: none;
    color: #f9f9f9;
    font-size: 16px;
    margin-top: 25px;
}
.page__1__image img {
    margin-top: 25px;
    width: 375px;
    height: 478px;
}
#page__1__button:hover{
    cursor: pointer;
}

/*page 2*/
#page__2 {
    display: none;
}

.page__2__navbar {
    width: 86%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    
}.page__2__categories {
}

.page__2__text {
    margin-left: 7%;
    margin-top: 50px;
    line-height: 38px;
}
.search__doctor {
    width: 80%;
    height: 45px;
    border: none;
    border-radius: 73px;
    background-color: #f2f2f2;
    position: relative;
    margin-left: 7%;
    margin-top: 20px;
    padding-left: 20px;
}
.search__doctor::placeholder {
    color: #c0c0c0;
    font-size: 16px;
}
.page__2__searchbar {
    display: flex;
}
.page__2__section__name {
    color: #1E1C61;
    font-weight: 700;
    font-size: 16px;
}
.searchbar__icon {
    width: 75px;
    height: 53px;
    background-color: #F57E71;
    display: flex;
    justify-content: center;
    border-radius: 64px;
    margin-top: 18px;
    position: absolute;
    margin-left: 73%;
}
.icon {
    width: 30px;
    height: 30px;
    align-self: center;
}

.categories {
    margin-left: 10px;
    margin-top: 25px;
    font-weight: 700px;
    font-size: 16px;
}
.categories__container {
    position: relative;
    display: flex;
    height: fit-content;
    margin-left: 5px;
    margin-top: 35px;
    overflow-y: auto;
    padding: 14px 0px;
    width: 100vw;
}   

.categories__buttons {
    height: 139px;
    width: 128px;
    background-color: #ffffff;
    box-shadow: 1px 6px 11px rgba(0, 0, 0, 0.03);
    border-radius: 15px;
}
.category__name {
    font-weight: 450;
    font-size: 16px;
    color:#292685;
    line-height: 20px;
    margin-left: 27px;
}
.categories__icon {
        position: relative;
        margin-left: 37px;
    margin-top: -14px;
}
.margin__modifier {
    margin-left: 13px;
}

.page__2__doctors {
    margin-top: 25px;
    margin-left: 7%;
    
    }
#page__2__top-doctors {
}

.doctor__box {
    margin-top: 25px;
    width: 86%;
    height: 86px;
    border-radius: 13px;
    display: flex;
}

.doctor__name {
    margin-top: 19px;
    margin-left: 14px;
    
    color: #1E1C61;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.doctor__infos {
    color:#1E1C61A6;
    font-size: 14px;
    font-weight: 450;
    
    line-height: 24px;
}

.doctor__image {
    margin-left: 20px;
}

/*page 3*/

#page__3 {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url("/images/page__3__background.jpg");
    display: none;
}

.doctor__info__container {
    margin-top: 249px;
    width: 100vw;
    height: 625px;
    background: #F9F9F9;
    box-shadow: 0px -2px 17px rgba(0, 0, 0, 0.04);
    border-radius: 42px;
}

.info__and__contacts {
    display: flex;
    margin-left:  25px;
    padding-top: 25px;
}

#doctor__info-image {
    width: 88px;
    height: 107px;
}
.doctor__info {
    height: 90px;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 140px;
    top: 290px;
}

.doctor__info-text {
    margin-top: 37px;
    margin-left: 25px;
}

#doctor__info-name {
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
    color: #1E1C61;
}

#doctor__info-other {
    font-weight: 450;
    font-size: 14px;
    line-height: 24px;
    color: #1E1C61A6;

}

#doctor__info-contacts {
    margin-top: 7px;
    
}

.section__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1E1C61;

}

#about__doctor-text {
    font-weight: 450;
    font-size: 14px;
    line-height: 22px;
    color: #1E1C61A6;
    margin-top: 12px;
    margin-right: 21px;
}

.upcoming__schedules__container {
    margin: 21px 0px 0px 25px;
}
